.cardImage{
     object-fit: cover;
     width: 100%;
     height: 150px;
}

.card{
     width: 400px;
     border-radius: 7px;
     background-color: white;
}

.cardImage{
     border-radius: 7px 7px 0 0;
}

.cardWrapper h1, .cardWrapper p {
     padding: 0 15px;
}