.heading{
     display: flex;
     padding: 2rem;
}

.inner{
     background-color: black;
     color: white;
     padding: 3.5rem;
     text-align: start;
}

.inner button{
     padding: 0.6rem;
     border-radius: 5px;
     color: white;
     background-color: orange;
     font-weight: 500;
}

.heading img{
     object-fit: cover;
     width: 45%;
}
